{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of receipts</th>
        </thead>
        <tbody>
            {% for category in category_list %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.receipts.count}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
